<form  action="/users/users/login"  method="post">

    <input  type="text"  name="Username"  placeholder="Username"><br>
    
    <br>
    <input  type="email"  name="email"  placeholder="email"><br>
    <br>
    
    <input  type="text"  name="password"  placeholder="password"><br>
    <br>
   
    
    <button type="submit">Registrar</button>

    <button type="reset">Limpiar</button>

</form>