<form  action="/users"  method="post">
     
    <input  type="text"  name="name"  placeholder="name" required><br>
    <br>
    <input  type="text"  name="surname"  placeholder="surname"  required><br>
    <br>
    <input  type="text"  name="password"  placeholder="password"  required><br>
    <br>
    <input  type="email"  name="email"  placeholder="email"  required><br>
    <br>
    <input  type="text"  name="Username"  placeholder="Username"  required><br>
    <br>
    <input  type="text"  name="dni"  placeholder="dni"  required><br>
    <br>
    <input  type="text"  name="age"  placeholder="age"><br>
    <br>
    <input  type="text"  name="address"  placeholder="adress"><br>
    <br>
    <input  type="text"  name="phoneNumber"  placeholder="phoneNumber"><br>
    <br>
    
    <button type="submit">Registrar</button>

    <button type="reset">Limpiar</button>

    <script></script>

</form>

