body{
    background-size: 100%vw 100%vh ;
    background-attachment: fixed;
    margin: 0;
}


form{
    background-color: aqua;
    margin: auto;
    width: 450px;
  }

  input{
    margin-left: 100px;
    
  }
  button{
    margin-left: 100px;
    margin-top: 10px;
    background-color: blueviolet;
  }
  
  @media (max-width:480px){
         form{width: 100%;}
  }